sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 51em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 66em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 66em;
}
.stl_06 {
	height: 5.1em;
}
.ie .stl_06 {
	height: 51em;
}
@font-face {
	font-family:"VFWHMC+ArialMT";
	src:url("02dc64ae-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.8125em;
	font-family: "VFWHMC+ArialMT";
	color: #000000;
}
.stl_08 {
	line-height: 1.041992em;
}
.stl_09 {
	letter-spacing: -0.0003em;
}

.ie .stl_09 {
	letter-spacing: -0.0035px;
}
.stl_10 {
	letter-spacing: -0.0007em;
}

.ie .stl_10 {
	letter-spacing: -0.009px;
}
.stl_11 {
	letter-spacing: -0.0004em;
}

.ie .stl_11 {
	letter-spacing: -0.0055px;
}
.stl_12 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: matrix(1,0,0,1,0,-0);
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
}
@font-face {
	font-family:"WHRFHN+Calibri-Bold";
	src:url("3b11efe0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 0.647038em;
	font-family: "WHRFHN+Calibri-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_14 {
	letter-spacing: -0.0018em;
}

.ie .stl_14 {
	letter-spacing: -0.0186px;
}
.stl_15 {
	letter-spacing: -0.0005em;
}

.ie .stl_15 {
	letter-spacing: -0.0052px;
}
@font-face {
	font-family:"ETPPLH+Calibri";
	src:url("270557c1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 0.647038em;
	font-family: "ETPPLH+Calibri";
	color: #000000;
}
.stl_17 {
	letter-spacing: -0.0022em;
}

.ie .stl_17 {
	letter-spacing: -0.0225px;
}
.stl_18 {
	letter-spacing: 0em;
}

.ie .stl_18 {
	letter-spacing: 0px;
}
.stl_19 {
	letter-spacing: -0.025em;
}

.ie .stl_19 {
	letter-spacing: -0.2591px;
}
.stl_20 {
	letter-spacing: -0.0008em;
}

.ie .stl_20 {
	letter-spacing: -0.0087px;
}
.stl_21 {
	letter-spacing: -0.0054em;
}

.ie .stl_21 {
	letter-spacing: -0.0555px;
}
.stl_22 {
	letter-spacing: -0.0028em;
}

.ie .stl_22 {
	letter-spacing: -0.0294px;
}
.stl_23 {
	letter-spacing: -0.002em;
}

.ie .stl_23 {
	letter-spacing: -0.0206px;
}
.stl_24 {
	letter-spacing: -0.0015em;
}

.ie .stl_24 {
	letter-spacing: -0.0154px;
}
.stl_25 {
	letter-spacing: -0.0041em;
}

.ie .stl_25 {
	letter-spacing: -0.0426px;
}
.stl_26 {
	letter-spacing: -0.0047em;
}

.ie .stl_26 {
	letter-spacing: -0.049px;
}
.stl_27 {
	letter-spacing: -0.0016em;
}

.ie .stl_27 {
	letter-spacing: -0.0162px;
}
.stl_28 {
	letter-spacing: -0.0029em;
}

.ie .stl_28 {
	letter-spacing: -0.0305px;
}
.stl_29 {
	letter-spacing: -0.0024em;
}

.ie .stl_29 {
	letter-spacing: -0.0247px;
}
.stl_30 {
	letter-spacing: -0.0039em;
}

.ie .stl_30 {
	letter-spacing: -0.0408px;
}
.stl_31 {
	letter-spacing: -0.0021em;
}

.ie .stl_31 {
	letter-spacing: -0.0215px;
}
.stl_32 {
	letter-spacing: -0.0013em;
}

.ie .stl_32 {
	letter-spacing: -0.0137px;
}
.stl_33 {
	letter-spacing: -0.0034em;
}

.ie .stl_33 {
	letter-spacing: -0.0347px;
}
.stl_34 {
	letter-spacing: -0.0038em;
}

.ie .stl_34 {
	letter-spacing: -0.0396px;
}
.stl_35 {
	letter-spacing: -0.0019em;
}

.ie .stl_35 {
	letter-spacing: -0.0201px;
}
.stl_36 {
	letter-spacing: -0.0067em;
}

.ie .stl_36 {
	letter-spacing: -0.0692px;
}
.stl_37 {
	letter-spacing: -0.0006em;
}

.ie .stl_37 {
	letter-spacing: -0.0063px;
}
.stl_38 {
	letter-spacing: -0.004em;
}

.ie .stl_38 {
	letter-spacing: -0.041px;
}
.stl_39 {
	letter-spacing: -0.003em;
}

.ie .stl_39 {
	letter-spacing: -0.0314px;
}
.stl_40 {
	letter-spacing: -0.0234em;
}

.ie .stl_40 {
	letter-spacing: -0.2425px;
}
.stl_41 {
	letter-spacing: -0.008em;
}

.ie .stl_41 {
	letter-spacing: -0.0824px;
}
.stl_42 {
	letter-spacing: -0.0035em;
}

.ie .stl_42 {
	letter-spacing: -0.0367px;
}
.stl_43 {
	letter-spacing: -0.0045em;
}

.ie .stl_43 {
	letter-spacing: -0.0469px;
}
.stl_44 {
	letter-spacing: -0.0065em;
}

.ie .stl_44 {
	letter-spacing: -0.0671px;
}
.stl_45 {
	letter-spacing: -0.0063em;
}

.ie .stl_45 {
	letter-spacing: -0.0656px;
}
.stl_46 {
	letter-spacing: -0.019em;
}

.ie .stl_46 {
	letter-spacing: -0.197px;
}
.stl_47 {
	letter-spacing: -0.0002em;
}

.ie .stl_47 {
	letter-spacing: -0.0019px;
}
.stl_48 {
	letter-spacing: -0.0127em;
}

.ie .stl_48 {
	letter-spacing: -0.132px;
}
.stl_49 {
	letter-spacing: -0.0017em;
}

.ie .stl_49 {
	letter-spacing: -0.0174px;
}
.stl_50 {
	letter-spacing: -0.0081em;
}

.ie .stl_50 {
	letter-spacing: -0.0833px;
}
.stl_51 {
	letter-spacing: -0.0093em;
}

.ie .stl_51 {
	letter-spacing: -0.0962px;
}
.stl_52 {
	letter-spacing: -0.0014em;
}

.ie .stl_52 {
	letter-spacing: -0.0141px;
}
.stl_53 {
	letter-spacing: -0.0032em;
}

.ie .stl_53 {
	letter-spacing: -0.0333px;
}
.stl_54 {
	letter-spacing: -0.0027em;
}

.ie .stl_54 {
	letter-spacing: -0.0277px;
}
.stl_55 {
	letter-spacing: -0.0012em;
}

.ie .stl_55 {
	letter-spacing: -0.0126px;
}
.stl_56 {
	letter-spacing: -0.0031em;
}

.ie .stl_56 {
	letter-spacing: -0.0321px;
}
.stl_57 {
	letter-spacing: -0.0025em;
}

.ie .stl_57 {
	letter-spacing: -0.026px;
}
.stl_58 {
	letter-spacing: 0.0004em;
}

.ie .stl_58 {
	letter-spacing: 0.004px;
}
.stl_59 {
	letter-spacing: -0.0107em;
}

.ie .stl_59 {
	letter-spacing: -0.1109px;
}
.stl_60 {
	letter-spacing: -0.005em;
}

.ie .stl_60 {
	letter-spacing: -0.052px;
}
.stl_61 {
	letter-spacing: -0.0033em;
}

.ie .stl_61 {
	letter-spacing: -0.034px;
}
.stl_62 {
	letter-spacing: -0.0055em;
}

.ie .stl_62 {
	letter-spacing: -0.0711px;
}
.stl_63 {
	letter-spacing: -0.0049em;
}

.ie .stl_63 {
	letter-spacing: -0.0504px;
}
.stl_64 {
	letter-spacing: -0.0116em;
}

.ie .stl_64 {
	letter-spacing: -0.1196px;
}
.stl_65 {
	letter-spacing: -0.0109em;
}

.ie .stl_65 {
	letter-spacing: -0.1125px;
}
.stl_66 {
	letter-spacing: -0.0009em;
}

.ie .stl_66 {
	letter-spacing: -0.0091px;
}
.stl_67 {
	letter-spacing: -0.0073em;
}

.ie .stl_67 {
	letter-spacing: -0.0754px;
}
.stl_68 {
	letter-spacing: -0.0037em;
}

.ie .stl_68 {
	letter-spacing: -0.0378px;
}
.stl_69 {
	letter-spacing: -0.0044em;
}

.ie .stl_69 {
	letter-spacing: -0.0451px;
}
.stl_70 {
	letter-spacing: -0.0046em;
}

.ie .stl_70 {
	letter-spacing: -0.0478px;
}
.stl_71 {
	letter-spacing: -0.0118em;
}

.ie .stl_71 {
	letter-spacing: -0.1217px;
}
.stl_72 {
	letter-spacing: -0.0011em;
}

.ie .stl_72 {
	letter-spacing: -0.011px;
}
.stl_73 {
	letter-spacing: -0.0062em;
}

.ie .stl_73 {
	letter-spacing: -0.0642px;
}
.stl_74 {
	letter-spacing: -0.016em;
}

.ie .stl_74 {
	letter-spacing: -0.1658px;
}
.stl_75 {
	letter-spacing: -0.0099em;
}

.ie .stl_75 {
	letter-spacing: -0.1023px;
}
.stl_76 {
	letter-spacing: -0.0048em;
}

.ie .stl_76 {
	letter-spacing: -0.0493px;
}
.stl_77 {
	letter-spacing: -0.0023em;
}

.ie .stl_77 {
	letter-spacing: -0.0237px;
}
.stl_78 {
	letter-spacing: -0.0144em;
}

.ie .stl_78 {
	letter-spacing: -0.1488px;
}
.stl_79 {
	letter-spacing: -0.0026em;
}

.ie .stl_79 {
	letter-spacing: -0.0274px;
}
.stl_80 {
	letter-spacing: -0.0071em;
}

.ie .stl_80 {
	letter-spacing: -0.0735px;
}
.stl_81 {
	font-size: 0.647038em;
	font-family: "VFWHMC+ArialMT";
	color: #000000;
}
.stl_82 {
	letter-spacing: -0.0043em;
}

.ie .stl_82 {
	letter-spacing: -0.0445px;
}
.stl_83 {
	letter-spacing: -0.0084em;
}

.ie .stl_83 {
	letter-spacing: -0.0874px;
}
.stl_84 {
	letter-spacing: -0.014em;
}

.ie .stl_84 {
	letter-spacing: -0.1449px;
}
.stl_85 {
	letter-spacing: -0.0129em;
}

.ie .stl_85 {
	letter-spacing: -0.1331px;
}
.stl_86 {
	letter-spacing: -0.0053em;
}

.ie .stl_86 {
	letter-spacing: -0.0546px;
}
.stl_87 {
	letter-spacing: -0.0036em;
}

.ie .stl_87 {
	letter-spacing: -0.0368px;
}
.stl_88 {
	letter-spacing: -0.0061em;
}

.ie .stl_88 {
	letter-spacing: -0.0632px;
}
.stl_89 {
	letter-spacing: -0.0132em;
}

.ie .stl_89 {
	letter-spacing: -0.1362px;
}
.stl_90 {
	letter-spacing: -0.0176em;
}

.ie .stl_90 {
	letter-spacing: -0.1819px;
}
.stl_91 {
	letter-spacing: 0.0016em;
}

.ie .stl_91 {
	letter-spacing: 0.0163px;
}
.stl_92 {
	letter-spacing: -0.006em;
}

.ie .stl_92 {
	letter-spacing: -0.0626px;
}
.stl_93 {
	letter-spacing: -0.0042em;
}

.ie .stl_93 {
	letter-spacing: -0.0433px;
}
.stl_94 {
	letter-spacing: -0.0151em;
}

.ie .stl_94 {
	letter-spacing: -0.1562px;
}
.stl_95 {
	letter-spacing: -0.0051em;
}

.ie .stl_95 {
	letter-spacing: -0.053px;
}
.stl_96 {
	letter-spacing: -0.0078em;
}

.ie .stl_96 {
	letter-spacing: -0.0807px;
}
.stl_97 {
	letter-spacing: -0.0267em;
}

.ie .stl_97 {
	letter-spacing: -0.276px;
}
.stl_98 {
	letter-spacing: -0.0066em;
}

.ie .stl_98 {
	letter-spacing: -0.0685px;
}
.stl_99 {
	letter-spacing: -0.0098em;
}

.ie .stl_99 {
	letter-spacing: -0.1012px;
}
.stl_100 {
	letter-spacing: -0.0056em;
}

.ie .stl_100 {
	letter-spacing: -0.0582px;
}
.stl_101 {
	letter-spacing: -0.0214em;
}

.ie .stl_101 {
	letter-spacing: -0.2217px;
}
.stl_102 {
	letter-spacing: -0.0117em;
}

.ie .stl_102 {
	letter-spacing: -0.1209px;
}
.stl_103 {
	letter-spacing: -0.0074em;
}

.ie .stl_103 {
	letter-spacing: -0.0769px;
}
.stl_104 {
	letter-spacing: -0.0108em;
}

.ie .stl_104 {
	letter-spacing: -0.1121px;
}
.stl_105 {
	letter-spacing: -0.0095em;
}

.ie .stl_105 {
	letter-spacing: -0.098px;
}
.stl_106 {
	letter-spacing: -0.0059em;
}

.ie .stl_106 {
	letter-spacing: -0.0607px;
}
.stl_107 {
	letter-spacing: -0.0147em;
}

.ie .stl_107 {
	letter-spacing: -0.1517px;
}
.stl_108 {
	letter-spacing: -0.0086em;
}

.ie .stl_108 {
	letter-spacing: -0.0891px;
}
.stl_109 {
	letter-spacing: -0.0182em;
}

.ie .stl_109 {
	letter-spacing: -0.1889px;
}
.stl_110 {
	letter-spacing: -0.01em;
}

.ie .stl_110 {
	letter-spacing: -0.1035px;
}
.stl_111 {
	letter-spacing: -0.0069em;
}

.ie .stl_111 {
	letter-spacing: -0.0719px;
}
.stl_112 {
	letter-spacing: -0.0106em;
}

.ie .stl_112 {
	letter-spacing: -0.1097px;
}
.stl_113 {
	letter-spacing: -0.0137em;
}

.ie .stl_113 {
	letter-spacing: -0.1422px;
}
.stl_114 {
	letter-spacing: -0.001em;
}

.ie .stl_114 {
	letter-spacing: -0.0099px;
}
.stl_115 {
	letter-spacing: -0.0057em;
}

.ie .stl_115 {
	letter-spacing: -0.0593px;
}
.stl_116 {
	letter-spacing: -0.0196em;
}

.ie .stl_116 {
	letter-spacing: -0.2025px;
}
.stl_117 {
	letter-spacing: -0.0058em;
}

.ie .stl_117 {
	letter-spacing: -0.0597px;
}
.stl_118 {
	letter-spacing: -0.0159em;
}

.ie .stl_118 {
	letter-spacing: -0.1646px;
}
.stl_119 {
	letter-spacing: -0.0105em;
}

.ie .stl_119 {
	letter-spacing: -0.1092px;
}
.stl_120 {
	letter-spacing: -0.0072em;
}

.ie .stl_120 {
	letter-spacing: -0.0746px;
}
.stl_121 {
	letter-spacing: -0.0122em;
}

.ie .stl_121 {
	letter-spacing: -0.1259px;
}
.stl_122 {
	letter-spacing: -0.0148em;
}

.ie .stl_122 {
	letter-spacing: -0.1529px;
}
.stl_123 {
	letter-spacing: -0.0097em;
}

.ie .stl_123 {
	letter-spacing: -0.1004px;
}
.stl_124 {
	letter-spacing: -0.0052em;
}

.ie .stl_124 {
	letter-spacing: -0.0538px;
}
.stl_125 {
	letter-spacing: -0.009em;
}

.ie .stl_125 {
	letter-spacing: -0.0936px;
}
.stl_126 {
	letter-spacing: -0.0103em;
}

.ie .stl_126 {
	letter-spacing: -0.1069px;
}
.stl_127 {
	letter-spacing: -0.0128em;
}

.ie .stl_127 {
	letter-spacing: -0.1326px;
}
.stl_128 {
	letter-spacing: -0.0102em;
}

.ie .stl_128 {
	letter-spacing: -0.1061px;
}
.stl_129 {
	letter-spacing: 0.001em;
}

.ie .stl_129 {
	letter-spacing: 0.0108px;
}
.stl_130 {
	letter-spacing: -0.0138em;
}

.ie .stl_130 {
	letter-spacing: -0.1425px;
}
.stl_131 {
	letter-spacing: -0.0115em;
}

.ie .stl_131 {
	letter-spacing: -0.1193px;
}
.stl_132 {
	letter-spacing: -0.0114em;
}

.ie .stl_132 {
	letter-spacing: -0.1182px;
}
.stl_133 {
	letter-spacing: -0.0085em;
}

.ie .stl_133 {
	letter-spacing: -0.0879px;
}
.stl_134 {
	letter-spacing: -0.0077em;
}

.ie .stl_134 {
	letter-spacing: -0.0795px;
}
.stl_135 {
	letter-spacing: -0.0096em;
}

.ie .stl_135 {
	letter-spacing: -0.0998px;
}
.stl_136 {
	letter-spacing: 0.0003em;
}

.ie .stl_136 {
	letter-spacing: 0.0029px;
}
.stl_137 {
	letter-spacing: -0.0142em;
}

.ie .stl_137 {
	letter-spacing: -0.1474px;
}
.stl_138 {
	letter-spacing: -0.1006em;
}

.ie .stl_138 {
	letter-spacing: -1.0419px;
}
.stl_139 {
	letter-spacing: -0.0161em;
}

.ie .stl_139 {
	letter-spacing: -0.1667px;
}
.stl_140 {
	letter-spacing: -0.0068em;
}

.ie .stl_140 {
	letter-spacing: -0.07px;
}
.stl_141 {
	letter-spacing: -0.0083em;
}

.ie .stl_141 {
	letter-spacing: -0.0858px;
}
.stl_142 {
	letter-spacing: -0.018em;
}

.ie .stl_142 {
	letter-spacing: -0.1865px;
}
.stl_143 {
	letter-spacing: 0.0002em;
}

.ie .stl_143 {
	letter-spacing: 0.0025px;
}
.stl_144 {
	letter-spacing: -0.0203em;
}

.ie .stl_144 {
	letter-spacing: -0.21px;
}
.stl_145 {
	letter-spacing: -0.0001em;
}

.ie .stl_145 {
	letter-spacing: -0.0011px;
}
.stl_146 {
	letter-spacing: -0.0125em;
}

.ie .stl_146 {
	letter-spacing: -0.1292px;
}
.stl_147 {
	letter-spacing: -0.0087em;
}

.ie .stl_147 {
	letter-spacing: -0.0903px;
}
.stl_148 {
	letter-spacing: -0.0104em;
}

.ie .stl_148 {
	letter-spacing: -0.1074px;
}
.stl_149 {
	letter-spacing: -0.0209em;
}

.ie .stl_149 {
	letter-spacing: -0.2169px;
}
.stl_150 {
	letter-spacing: -0.0075em;
}

.ie .stl_150 {
	letter-spacing: -0.0772px;
}
.stl_151 {
	letter-spacing: -0.012em;
}

.ie .stl_151 {
	letter-spacing: -0.1238px;
}
.stl_152 {
	letter-spacing: -0.0193em;
}

.ie .stl_152 {
	letter-spacing: -0.2002px;
}
.stl_153 {
	letter-spacing: -0.0251em;
}

.ie .stl_153 {
	letter-spacing: -0.2598px;
}
.stl_154 {
	letter-spacing: -0.0124em;
}

.ie .stl_154 {
	letter-spacing: -0.1285px;
}
.stl_155 {
	letter-spacing: -0.0091em;
}

.ie .stl_155 {
	letter-spacing: -0.094px;
}
.stl_156 {
	letter-spacing: -0.0064em;
}

.ie .stl_156 {
	letter-spacing: -0.0663px;
}
.stl_157 {
	letter-spacing: -0.0141em;
}

.ie .stl_157 {
	letter-spacing: -0.1461px;
}
.stl_158 {
	letter-spacing: -0.0082em;
}

.ie .stl_158 {
	letter-spacing: -0.0847px;
}
