sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 51em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 66em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 66em;
}
.stl_06 {
	height: 5.1em;
}
.ie .stl_06 {
	height: 51em;
}
@font-face {
	font-family:"OMNCUO+Calibri-Bold";
	src:url("a3b5a348-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.89375em;
	font-family: "OMNCUO+Calibri-Bold", "Times New Roman";
	color: #FFFFFF;
}
.stl_08 {
	line-height: 1.041992em;
}
.stl_09 {
	letter-spacing: -0.0035em;
}

.ie .stl_09 {
	letter-spacing: -0.0501px;
}
.stl_10 {
	letter-spacing: -0.0027em;
}

.ie .stl_10 {
	letter-spacing: -0.038px;
}
.stl_11 {
	letter-spacing: -0.0005em;
}

.ie .stl_11 {
	letter-spacing: -0.0072px;
}
.stl_12 {
	letter-spacing: -0.0272em;
}

.ie .stl_12 {
	letter-spacing: -0.389px;
}
@font-face {
	font-family:"UILTRV+Calibri";
	src:url("7c72a62c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 0.89375em;
	font-family: "UILTRV+Calibri";
	color: #000000;
}
.stl_14 {
	letter-spacing: -0.0008em;
}

.ie .stl_14 {
	letter-spacing: -0.012px;
}
.stl_15 {
	letter-spacing: 0em;
}

.ie .stl_15 {
	letter-spacing: 0px;
}
.stl_16 {
	letter-spacing: -0.0039em;
}

.ie .stl_16 {
	letter-spacing: -0.0558px;
}
.stl_17 {
	letter-spacing: -0.0015em;
}

.ie .stl_17 {
	letter-spacing: -0.0213px;
}
.stl_18 {
	letter-spacing: -0.0021em;
}

.ie .stl_18 {
	letter-spacing: -0.03px;
}
.stl_19 {
	letter-spacing: -0.0025em;
}

.ie .stl_19 {
	letter-spacing: -0.0356px;
}
.stl_20 {
	letter-spacing: -0.0038em;
}

.ie .stl_20 {
	letter-spacing: -0.0543px;
}
.stl_21 {
	letter-spacing: -0.001em;
}

.ie .stl_21 {
	letter-spacing: -0.0144px;
}
.stl_22 {
	letter-spacing: -0.0006em;
}

.ie .stl_22 {
	letter-spacing: -0.0088px;
}
.stl_23 {
	letter-spacing: -0.002em;
}

.ie .stl_23 {
	letter-spacing: -0.0282px;
}
.stl_24 {
	letter-spacing: -0.0028em;
}

.ie .stl_24 {
	letter-spacing: -0.0406px;
}
.stl_25 {
	letter-spacing: -0.0036em;
}

.ie .stl_25 {
	letter-spacing: -0.0509px;
}
.stl_26 {
	letter-spacing: -0.0127em;
}

.ie .stl_26 {
	letter-spacing: -0.1823px;
}
.stl_27 {
	letter-spacing: -0.0053em;
}

.ie .stl_27 {
	letter-spacing: -0.0765px;
}
.stl_28 {
	letter-spacing: -0.0019em;
}

.ie .stl_28 {
	letter-spacing: -0.0278px;
}
.stl_29 {
	letter-spacing: -0.0045em;
}

.ie .stl_29 {
	letter-spacing: -0.0651px;
}
.stl_30 {
	letter-spacing: -0.0044em;
}

.ie .stl_30 {
	letter-spacing: -0.0636px;
}
.stl_31 {
	letter-spacing: -0.0022em;
}

.ie .stl_31 {
	letter-spacing: -0.0322px;
}
.stl_32 {
	letter-spacing: -0.0004em;
}

.ie .stl_32 {
	letter-spacing: -0.0052px;
}
.stl_33 {
	letter-spacing: -0.0032em;
}

.ie .stl_33 {
	letter-spacing: -0.0453px;
}
.stl_34 {
	letter-spacing: -0.004em;
}

.ie .stl_34 {
	letter-spacing: -0.0567px;
}
.stl_35 {
	letter-spacing: -0.0034em;
}

.ie .stl_35 {
	letter-spacing: -0.0489px;
}
.stl_36 {
	letter-spacing: -0.0076em;
}

.ie .stl_36 {
	letter-spacing: -0.1092px;
}
.stl_37 {
	letter-spacing: -0.0314em;
}

.ie .stl_37 {
	letter-spacing: -0.4485px;
}
.stl_38 {
	letter-spacing: -0.0009em;
}

.ie .stl_38 {
	letter-spacing: -0.0123px;
}
.stl_39 {
	letter-spacing: -0.0007em;
}

.ie .stl_39 {
	letter-spacing: -0.0093px;
}
.stl_40 {
	letter-spacing: -0.0023em;
}

.ie .stl_40 {
	letter-spacing: -0.0325px;
}
.stl_41 {
	letter-spacing: -0.003em;
}

.ie .stl_41 {
	letter-spacing: -0.0432px;
}
.stl_42 {
	letter-spacing: -0.0012em;
}

.ie .stl_42 {
	letter-spacing: -0.0175px;
}
.stl_43 {
	letter-spacing: 0.0001em;
}

.ie .stl_43 {
	letter-spacing: 0.0018px;
}
.stl_44 {
	letter-spacing: 0.0036em;
}

.ie .stl_44 {
	letter-spacing: 0.0517px;
}
.stl_45 {
	letter-spacing: -0.0069em;
}

.ie .stl_45 {
	letter-spacing: -0.0982px;
}
.stl_46 {
	letter-spacing: -0.0001em;
}

.ie .stl_46 {
	letter-spacing: -0.0016px;
}
@font-face {
	font-family:"OWCEEE+ArialMT";
	src:url("321ea3cd-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_47 {
	font-size: 0.89375em;
	font-family: "OWCEEE+ArialMT", "Times New Roman";
	color: #000000;
}
.stl_48 {
	letter-spacing: -0.0016em;
}

.ie .stl_48 {
	letter-spacing: -0.0233px;
}
.stl_49 {
	letter-spacing: -0.0037em;
}

.ie .stl_49 {
	letter-spacing: -0.0523px;
}
.stl_50 {
	letter-spacing: -0.0018em;
}

.ie .stl_50 {
	letter-spacing: -0.0262px;
}
.stl_51 {
	letter-spacing: -0.0003em;
}

.ie .stl_51 {
	letter-spacing: -0.005px;
}
.stl_52 {
	letter-spacing: -0.0031em;
}

.ie .stl_52 {
	letter-spacing: -0.0442px;
}
.stl_53 {
	letter-spacing: -0.0058em;
}

.ie .stl_53 {
	letter-spacing: -0.0836px;
}
.stl_54 {
	letter-spacing: -0.0026em;
}

.ie .stl_54 {
	letter-spacing: -0.0369px;
}
.stl_55 {
	letter-spacing: -0.0043em;
}

.ie .stl_55 {
	letter-spacing: -0.0612px;
}
.stl_56 {
	letter-spacing: -0.0049em;
}

.ie .stl_56 {
	letter-spacing: -0.0699px;
}
.stl_57 {
	letter-spacing: -0.0054em;
}

.ie .stl_57 {
	letter-spacing: -0.0772px;
}
.stl_58 {
	letter-spacing: -0.0085em;
}

.ie .stl_58 {
	letter-spacing: -0.1219px;
}
.stl_59 {
	letter-spacing: -0.0061em;
}

.ie .stl_59 {
	letter-spacing: -0.0867px;
}
.stl_60 {
	letter-spacing: -0.0052em;
}

.ie .stl_60 {
	letter-spacing: -0.074px;
}
.stl_61 {
	letter-spacing: -0.0014em;
}

.ie .stl_61 {
	letter-spacing: -0.02px;
}
.stl_62 {
	letter-spacing: -0.0033em;
}

.ie .stl_62 {
	letter-spacing: -0.0474px;
}
.stl_63 {
	letter-spacing: -0.0017em;
}

.ie .stl_63 {
	letter-spacing: -0.0249px;
}
.stl_64 {
	letter-spacing: -0.0013em;
}

.ie .stl_64 {
	letter-spacing: -0.0182px;
}
.stl_65 {
	letter-spacing: -0.0011em;
}

.ie .stl_65 {
	letter-spacing: -0.016px;
}
.stl_66 {
	letter-spacing: -0.0071em;
}

.ie .stl_66 {
	letter-spacing: -0.102px;
}
.stl_67 {
	letter-spacing: -0.0042em;
}

.ie .stl_67 {
	letter-spacing: -0.0596px;
}
.stl_68 {
	letter-spacing: -0.0077em;
}

.ie .stl_68 {
	letter-spacing: -0.1103px;
}
.stl_69 {
	letter-spacing: -0.0055em;
}

.ie .stl_69 {
	letter-spacing: -0.0783px;
}
.stl_70 {
	letter-spacing: -0.0024em;
}

.ie .stl_70 {
	letter-spacing: -0.0341px;
}
.stl_71 {
	letter-spacing: -0.0073em;
}

.ie .stl_71 {
	letter-spacing: -0.1047px;
}
.stl_72 {
	letter-spacing: 0.0008em;
}

.ie .stl_72 {
	letter-spacing: 0.0117px;
}
.stl_73 {
	letter-spacing: -0.0046em;
}

.ie .stl_73 {
	letter-spacing: -0.0654px;
}
.stl_74 {
	letter-spacing: -0.0075em;
}

.ie .stl_74 {
	letter-spacing: -0.107px;
}
.stl_75 {
	letter-spacing: -0.007em;
}

.ie .stl_75 {
	letter-spacing: -0.1004px;
}
.stl_76 {
	letter-spacing: -0.0041em;
}

.ie .stl_76 {
	letter-spacing: -0.0587px;
}
.stl_77 {
	letter-spacing: -0.0107em;
}

.ie .stl_77 {
	letter-spacing: -0.1531px;
}
.stl_78 {
	letter-spacing: -0.0074em;
}

.ie .stl_78 {
	letter-spacing: -0.1058px;
}
.stl_79 {
	letter-spacing: -0.0134em;
}

.ie .stl_79 {
	letter-spacing: -0.1912px;
}
.stl_80 {
	letter-spacing: -0.0136em;
}

.ie .stl_80 {
	letter-spacing: -0.1941px;
}
.stl_81 {
	letter-spacing: -0.0068em;
}

.ie .stl_81 {
	letter-spacing: -0.0968px;
}
.stl_82 {
	letter-spacing: -0.0048em;
}

.ie .stl_82 {
	letter-spacing: -0.068px;
}
.stl_83 {
	letter-spacing: -0.02em;
}

.ie .stl_83 {
	letter-spacing: -0.2865px;
}
.stl_84 {
	letter-spacing: -0.0029em;
}

.ie .stl_84 {
	letter-spacing: -0.0409px;
}
.stl_85 {
	letter-spacing: -0.0082em;
}

.ie .stl_85 {
	letter-spacing: -0.1169px;
}
.stl_86 {
	letter-spacing: -0.005em;
}

.ie .stl_86 {
	letter-spacing: -0.0717px;
}
.stl_87 {
	letter-spacing: -0.0065em;
}

.ie .stl_87 {
	letter-spacing: -0.0931px;
}
.stl_88 {
	letter-spacing: -0.0062em;
}

.ie .stl_88 {
	letter-spacing: -0.088px;
}
.stl_89 {
	letter-spacing: -0.0051em;
}

.ie .stl_89 {
	letter-spacing: -0.0728px;
}
.stl_90 {
	letter-spacing: -0.009em;
}

.ie .stl_90 {
	letter-spacing: -0.1291px;
}
.stl_91 {
	letter-spacing: -0.0056em;
}

.ie .stl_91 {
	letter-spacing: -0.0807px;
}
.stl_92 {
	letter-spacing: -0.0161em;
}

.ie .stl_92 {
	letter-spacing: -0.2298px;
}
.stl_93 {
	letter-spacing: -0.0125em;
}

.ie .stl_93 {
	letter-spacing: -0.1793px;
}
.stl_94 {
	letter-spacing: -0.0083em;
}

.ie .stl_94 {
	letter-spacing: -0.1182px;
}
.stl_95 {
	letter-spacing: -0.0078em;
}

.ie .stl_95 {
	letter-spacing: -0.1111px;
}
.stl_96 {
	letter-spacing: -0.0088em;
}

.ie .stl_96 {
	letter-spacing: -0.1261px;
}
.stl_97 {
	letter-spacing: -0.0064em;
}

.ie .stl_97 {
	letter-spacing: -0.091px;
}
.stl_98 {
	letter-spacing: -0.0203em;
}

.ie .stl_98 {
	letter-spacing: -0.291px;
}
.stl_99 {
	letter-spacing: -0.0328em;
}

.ie .stl_99 {
	letter-spacing: -0.4684px;
}
.stl_100 {
	letter-spacing: -0.0047em;
}

.ie .stl_100 {
	letter-spacing: -0.0672px;
}
.stl_101 {
	letter-spacing: -0.0002em;
}

.ie .stl_101 {
	letter-spacing: -0.0031px;
}
.stl_102 {
	letter-spacing: -0.0347em;
}

.ie .stl_102 {
	letter-spacing: -0.4966px;
}
.stl_103 {
	letter-spacing: -0.016em;
}

.ie .stl_103 {
	letter-spacing: -0.2292px;
}
.stl_104 {
	letter-spacing: -0.0098em;
}

.ie .stl_104 {
	letter-spacing: -0.1401px;
}
.stl_105 {
	letter-spacing: -0.0464em;
}

.ie .stl_105 {
	letter-spacing: -0.6633px;
}
.stl_106 {
	letter-spacing: -0.0086em;
}

.ie .stl_106 {
	letter-spacing: -0.123px;
}
.stl_107 {
	letter-spacing: -0.0063em;
}

.ie .stl_107 {
	letter-spacing: -0.0898px;
}
.stl_108 {
	letter-spacing: -0.0149em;
}

.ie .stl_108 {
	letter-spacing: -0.213px;
}
.stl_109 {
	letter-spacing: -0.0128em;
}

.ie .stl_109 {
	letter-spacing: -0.1837px;
}
.stl_110 {
	letter-spacing: -0.0159em;
}

.ie .stl_110 {
	letter-spacing: -0.2279px;
}
.stl_111 {
	letter-spacing: -0.0262em;
}

.ie .stl_111 {
	letter-spacing: -0.3751px;
}
.stl_112 {
	letter-spacing: -0.0113em;
}

.ie .stl_112 {
	letter-spacing: -0.1618px;
}
.stl_113 {
	letter-spacing: -0.0093em;
}

.ie .stl_113 {
	letter-spacing: -0.1337px;
}
.stl_114 {
	letter-spacing: -0.0072em;
}

.ie .stl_114 {
	letter-spacing: -0.1029px;
}
.stl_115 {
	letter-spacing: -0.0109em;
}

.ie .stl_115 {
	letter-spacing: -0.1559px;
}
.stl_116 {
	letter-spacing: -0.0178em;
}

.ie .stl_116 {
	letter-spacing: -0.2552px;
}
.stl_117 {
	letter-spacing: -0.0153em;
}

.ie .stl_117 {
	letter-spacing: -0.2188px;
}
.stl_118 {
	letter-spacing: -0.0148em;
}

.ie .stl_118 {
	letter-spacing: -0.2113px;
}
.stl_119 {
	letter-spacing: -0.0103em;
}

.ie .stl_119 {
	letter-spacing: -0.147px;
}
.stl_120 {
	letter-spacing: -0.0106em;
}

.ie .stl_120 {
	letter-spacing: -0.1512px;
}
.stl_121 {
	letter-spacing: -0.0142em;
}

.ie .stl_121 {
	letter-spacing: -0.2035px;
}
.stl_122 {
	letter-spacing: -0.0392em;
}

.ie .stl_122 {
	letter-spacing: -0.5599px;
}
.stl_123 {
	letter-spacing: -0.0089em;
}

.ie .stl_123 {
	letter-spacing: -0.1266px;
}
.stl_124 {
	letter-spacing: -0.0117em;
}

.ie .stl_124 {
	letter-spacing: -0.1669px;
}
.stl_125 {
	letter-spacing: -0.0081em;
}

.ie .stl_125 {
	letter-spacing: -0.1154px;
}
.stl_126 {
	letter-spacing: -0.0122em;
}

.ie .stl_126 {
	letter-spacing: -0.1743px;
}
.stl_127 {
	letter-spacing: -0.0067em;
}

.ie .stl_127 {
	letter-spacing: -0.0963px;
}
.stl_128 {
	letter-spacing: -0.0114em;
}

.ie .stl_128 {
	letter-spacing: -0.1632px;
}
.stl_129 {
	letter-spacing: -0.0094em;
}

.ie .stl_129 {
	letter-spacing: -0.1343px;
}
.stl_130 {
	letter-spacing: -0.006em;
}

.ie .stl_130 {
	letter-spacing: -0.0855px;
}
.stl_131 {
	letter-spacing: -0.0066em;
}

.ie .stl_131 {
	letter-spacing: -0.0945px;
}
.stl_132 {
	letter-spacing: -0.0137em;
}

.ie .stl_132 {
	letter-spacing: -0.1953px;
}
.stl_133 {
	letter-spacing: -0.022em;
}

.ie .stl_133 {
	letter-spacing: -0.3143px;
}
.stl_134 {
	letter-spacing: -0.0145em;
}

.ie .stl_134 {
	letter-spacing: -0.2078px;
}
.stl_135 {
	letter-spacing: -0.0059em;
}

.ie .stl_135 {
	letter-spacing: -0.0847px;
}
.stl_136 {
	letter-spacing: -0.0189em;
}

.ie .stl_136 {
	letter-spacing: -0.2704px;
}
.stl_137 {
	letter-spacing: -0.0057em;
}

.ie .stl_137 {
	letter-spacing: -0.082px;
}
.stl_138 {
	letter-spacing: -0.0084em;
}

.ie .stl_138 {
	letter-spacing: -0.1198px;
}
.stl_139 {
	letter-spacing: -0.0173em;
}

.ie .stl_139 {
	letter-spacing: -0.2475px;
}
.stl_140 {
	letter-spacing: -0.01em;
}

.ie .stl_140 {
	letter-spacing: -0.1428px;
}
.stl_141 {
	letter-spacing: -0.0099em;
}

.ie .stl_141 {
	letter-spacing: -0.1419px;
}
.stl_142 {
	letter-spacing: -0.0251em;
}

.ie .stl_142 {
	letter-spacing: -0.3595px;
}
.stl_143 {
	letter-spacing: 0.0033em;
}

.ie .stl_143 {
	letter-spacing: 0.0473px;
}
.stl_144 {
	letter-spacing: -0.0188em;
}

.ie .stl_144 {
	letter-spacing: -0.2695px;
}
.stl_145 {
	letter-spacing: -0.0095em;
}

.ie .stl_145 {
	letter-spacing: -0.1362px;
}
.stl_146 {
	letter-spacing: -0.0146em;
}

.ie .stl_146 {
	letter-spacing: -0.2088px;
}
.stl_147 {
	letter-spacing: -0.0211em;
}

.ie .stl_147 {
	letter-spacing: -0.302px;
}
.stl_148 {
	letter-spacing: -0.0141em;
}

.ie .stl_148 {
	letter-spacing: -0.2018px;
}
.stl_149 {
	letter-spacing: -0.0199em;
}

.ie .stl_149 {
	letter-spacing: -0.2847px;
}
.stl_150 {
	letter-spacing: -0.0147em;
}

.ie .stl_150 {
	letter-spacing: -0.2095px;
}
.stl_151 {
	letter-spacing: -0.008em;
}

.ie .stl_151 {
	letter-spacing: -0.1144px;
}
.stl_152 {
	letter-spacing: -0.0175em;
}

.ie .stl_152 {
	letter-spacing: -0.2504px;
}
.stl_153 {
	letter-spacing: 0.002em;
}

.ie .stl_153 {
	letter-spacing: 0.0283px;
}
.stl_154 {
	letter-spacing: 0.0024em;
}

.ie .stl_154 {
	letter-spacing: 0.0345px;
}
.stl_155 {
	letter-spacing: -0.0814em;
}

.ie .stl_155 {
	letter-spacing: -1.1642px;
}
.stl_156 {
	letter-spacing: -0.0096em;
}

.ie .stl_156 {
	letter-spacing: -0.1371px;
}
.stl_157 {
	letter-spacing: -0.0112em;
}

.ie .stl_157 {
	letter-spacing: -0.1606px;
}
.stl_158 {
	letter-spacing: -0.0097em;
}

.ie .stl_158 {
	letter-spacing: -0.1385px;
}
.stl_159 {
	letter-spacing: -0.0993em;
}

.ie .stl_159 {
	letter-spacing: -1.42px;
}
.stl_160 {
	letter-spacing: -0.0151em;
}

.ie .stl_160 {
	letter-spacing: -0.2166px;
}
.stl_161 {
	letter-spacing: -0.0102em;
}

.ie .stl_161 {
	letter-spacing: -0.1452px;
}
.stl_162 {
	letter-spacing: -0.0212em;
}

.ie .stl_162 {
	letter-spacing: -0.3037px;
}
.stl_163 {
	letter-spacing: -0.0155em;
}

.ie .stl_163 {
	letter-spacing: -0.2219px;
}
.stl_164 {
	letter-spacing: -0.0111em;
}

.ie .stl_164 {
	letter-spacing: -0.1588px;
}
.stl_165 {
	letter-spacing: -0.0116em;
}

.ie .stl_165 {
	letter-spacing: -0.1662px;
}
.stl_166 {
	letter-spacing: -0.0115em;
}

.ie .stl_166 {
	letter-spacing: -0.1648px;
}
.stl_167 {
	letter-spacing: -0.011em;
}

.ie .stl_167 {
	letter-spacing: -0.1575px;
}
.stl_168 {
	letter-spacing: -0.0092em;
}

.ie .stl_168 {
	letter-spacing: -0.1321px;
}
.stl_169 {
	letter-spacing: -0.0104em;
}

.ie .stl_169 {
	letter-spacing: -0.1489px;
}
.stl_170 {
	letter-spacing: -0.0118em;
}

.ie .stl_170 {
	letter-spacing: -0.1681px;
}
.stl_171 {
	letter-spacing: -0.0409em;
}

.ie .stl_171 {
	letter-spacing: -0.5852px;
}
@font-face {
	font-family:"NLWVPJ+SimHei";
	src:url("dfc12d25-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_172 {
	font-size: 0.89375em;
	font-family: "NLWVPJ+SimHei", "Times New Roman";
	color: #000000;
}
.stl_173 {
	line-height: 1em;
}
@font-face {
	font-family:"RTKKIM+MS-PGothic";
	src:url("9ba182ae-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_174 {
	font-size: 0.89375em;
	font-family: "RTKKIM+MS-PGothic", "Times New Roman";
	color: #000000;
}
.stl_175 {
	letter-spacing: 0.0016em;
}

.ie .stl_175 {
	letter-spacing: 0.023px;
}
.stl_176 {
	letter-spacing: -0.0132em;
}

.ie .stl_176 {
	letter-spacing: -0.1883px;
}
.stl_177 {
	letter-spacing: -0.014em;
}

.ie .stl_177 {
	letter-spacing: -0.2008px;
}
.stl_178 {
	letter-spacing: -0.0397em;
}

.ie .stl_178 {
	letter-spacing: -0.5681px;
}
.stl_179 {
	letter-spacing: -0.1006em;
}

.ie .stl_179 {
	letter-spacing: -1.4391px;
}
.stl_180 {
	letter-spacing: 0.0039em;
}

.ie .stl_180 {
	letter-spacing: 0.0551px;
}
.stl_181 {
	letter-spacing: -0.0278em;
}

.ie .stl_181 {
	letter-spacing: -0.3979px;
}
.stl_182 {
	letter-spacing: 0.0018em;
}

.ie .stl_182 {
	letter-spacing: 0.0257px;
}
